

.overlay {
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  padding: auto;
  margin-bottom: 5px ;
  color: #fff;
}
.overlay2 {
  position: absolute;
  top:73%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  
  padding: auto;
  color: #fff;
}


.slider {

 width: 100vw;
 height: 100vh;
  overflow: hidden;
  
}

.slide {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  background: transparent;
  transform: translateX(-50%);
  overflow: hidden;
  transition: all 0.5s ease;
}
img{
 
  
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (width: 1000px) {
  img {
   background-size: cover;
  }
}

  


.current {
  opacity: 1;
  transform: translateX(0);
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  max-width: 80vh;
  min-width: 300px;
  min-height: 100px; /* Adjust the width as per your needs */
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  animation: slide-up 1s ease 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes slide-up {
  0% {
    visibility: visible;
    top: 23rem;
  }
  100% {
    visibility: visible;
    top: 50%;
  }
}

@media screen and (max-width: 600px) {
  .content {
    display: flex;
    max-width: auto;
    max-height: auto;
    overflow-y: auto; /* Add scrollbars when content exceeds viewport height */
    padding: auto; /* Adjust padding as per your needs */
  }
}

.content > * {
  color: #fff;
  margin-bottom: 1rem;
}

.current .content {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease;
}

hr {
  height: 2px;
  background: white;
  width: auto;
}
