/* c.css */

.custom-container {
  display: flex;
  flex-direction: column;
  background-color: var(--neutral-700);
  padding: 2rem;
  font-family: monospace;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.25rem;
  
}

.custom-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 640px) {
  .custom-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.5rem;
  }

  .custom-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .custom-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .custom-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1280px) {
  .custom-grid {
    grid-template-columns: repeat(7, 1fr);
  }
}

  
  
  
  